@tailwind base;

@layer base {
  @font-face {
    font-family: 'NotoSansJP';
    font-weight: 400;
    src: local('NotoSansJP'),
      url('/fonts/NotoSansJP-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'NotoSansJP';
    font-weight: 500;
    src: local('NotoSansJP'),
      url('/fonts/NotoSansJP-Medium.otf') format('opentype');
  }
  @font-face {
    font-family: 'NotoSansJP';
    font-weight: 700;
    src: local('NotoSansJP'),
      url('/fonts/NotoSansJP-Bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'NotoSansJP';
    font-weight: 900;
    src: local('NotoSansJP'),
      url('/fonts/NotoSansJP-Black.otf') format('opentype');
  }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
/* .btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
} */
.banner-container {
  background: linear-gradient(180deg, #fff, #fff 503px, #000 503px, #000);
}
.banner-box {
  background-image: url('/banner.png');
  min-height: 556px;
  @apply box-content bg-cover;
}

@screen sm {
  .banner-container {
    background: linear-gradient(180deg, #fff, #fff 669px, #000 670px, #000);
  }
  .banner-box {
    @apply w-full;
  }
}

@screen lg {
  .banner-box {
    @apply w-not-phone h-not-phone mx-auto pt-14;
  }
}

.text-dark-gray {
  color: #2a292c;
}
.text-gray {
  color: #939393;
}
.scroll-item-wrapper {
  max-width: 300px;
  @apply mr-5 flex justify-center;
}
.menu-wrapper--inner {
  transform: translate3d(0px, 0px, 0px);
}

.avatar {
  width: 112px;
  height: 112px;
  margin-top: 14px;
  margin-bottom: 14px;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
